@model IEnumerable<WebApplication.Models.ProjectConfigViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>

<script>
    function init() {
        $('#myModal').modal({ backdrop: 'static', keyboard: false, show: true });
    }
    function loadList() {
        var values = $('input[type="checkbox"].myCheckbox').map(function () {
            return {
                ProjectId: $(this).val(),
                Checked: $(this).prop('checked')
            }
        }).toArray();
        $.ajax({
            url: '@Url.Action("VerifyShared", "Projects")',
            type: 'POST',
            dataType: 'json',
            data: JSON.stringify(values),
            contentType: 'application/json; charset=utf-8',
            success: function () {
                redirect();
            }
        });
        
    }
    function redirect() {
        if ('@ViewBag.type' == "Manage") {
            window.location = '@Url.Action("Manage", "Projects")';
        }
        else {
            window.location = '@Url.Action("Index", "Projects")';
        }
    }
    window.onload = init;
</script>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
                <h4 class="modal-title">Novos projetos compartilhados!</h4>
            </div>
            <div class="modal-body">
                @foreach (var item in Model)
                {
                    <div class="form-horizontal">
                        <div class="form-group">
                            @Html.LabelFor(modelItem => item.Name, new { @class = "control-label col-md-2" })
                            <div class="col-xs-3" style="top: 5px">
                                @Html.DisplayFor(modelItem => item.Name)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(modelItem => item.Description, new { @class = "control-label col-md-2" })
                            <div class="col-xs-3" style="top: 5px">
                                @Html.DisplayFor(modelItem => item.Description)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(modelItem => item.SharedBy, new { @class = "control-label col-md-2" })
                            <div class="col-xs-3" style="top: 5px">
                                @Html.DisplayFor(modelItem => item.SharedBy)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2">
                                Aceitar:
                            </label>
                            <input class="myCheckbox col-xs-1" style="top: 7px" type="checkbox" value=@item.ID>
                        </div>
                    </div>

                    if (Model.Last() != item)
                    {
                        <hr>
                    }
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="loadList()">Fechar</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->